@import "../../../../styles";

:host{
  display: block;
}

.container{
  width: 1500px;
  display: grid;
  margin: 30px 150px;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(2,200px) 300px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
app-grid-item{
  border: 1px solid red;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);
}
