<div class="container">
  <p>
    floating-move-down works!
  </p>
  <div (mouseenter)="top=false"
       (mouseleave)="top=true"
    [@expansionPanelState]="top  ? 'top' : 'center'"
    class="moving-div">
    <p>moving</p>
    <button *ngIf="top"
            mat-icon-button
            class="expand-btn"
            (click)="top=false">
      <mat-icon [inline]="true">mail</mat-icon>
    </button>
    <button *ngIf="!top"
            mat-icon-button
            class="retract-btn"
            (click)="top = true">
      <mat-icon [inline]="true">expand_less</mat-icon>
    </button>
  </div>
</div>

