.container{
  postion: relative;
  height: 100%;
  width: 100%;
  background-color: #a5adb4;
  .moving-div{
    position: absolute;
    left: 30%;
    height: 20rem;
    border: 1pt red solid;
    .move-btn{
      position: absolute;
      bottom: 0;
      left: 30%;
    }
  }
}
