@import "../../../../styles";

:host{
  display: block;
}



.container{
  @include borderBoxShadow(green);
 // border: black 1pt solid;
  padding: 20px;
  width: 90%;
  display: grid;
  margin: 30px auto;
  grid-template-rows: 80px repeat(3, 150px) 90px;
  //  grid-template-columns: repeat(2,200px) 1fr;
  // grid-template-columns: 50% 4fr 2fr;
  grid-template-columns: 80px repeat(3, 1fr);
  justify-content: space-between;

  //grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  @include respond(tab-port) {
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;
  }
}
.top{
  grid-row: 1 /2;
  grid-column: 1/ -1;
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  & p{
    flex: 1;
  }
  z-index: 10;
  background-color: lightseagreen;
}
.content{
  grid-row: 4/5;
  grid-column: 2/ span 3;
}
.footer, .top,  .content, app-grid-item{
  border: 1px solid red;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51)
}

.footer {
  grid-row: 5 /6;
  grid-column: 1/ -1;
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  background-color: lightseagreen;
}
app-grid-item{

}

.app-grid-item-1{
  grid-row: 2 / span 3;
  grid-column: 1/ 2;

}
