<mat-toolbar color="primary" >
  <div fxShow.gt-sm="false">
    <button mat-icon-button
            (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logged-in-user" *ngIf="loggedInUser">
    <a routerLink="/" mat-button
       class="welcome-header">Welcome {{displayName}}</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxShow.gt-sm="true"
       fxShow="false">
    <ng-container *ngIf="!loggedInUser" >
      <ul  fxLayout fxLayoutGap="10px" class="navigation-list-items">
        <li><a routerLink="/login" mat-button
               (click)="loggedInUser=true"
               routerLinkActive="mat-accent">Login</a>
        </li>
      </ul>
      <ul
        fxLayout fxLayoutGap="10px"
        class="navigation-list-items">
        <li><a routerLink="/register" mat-button
               routerLinkActive="mat-accent">Register</a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="loggedInUser">
      <ul fxLayout fxLayoutGap="10px" class="navigation-list-items">
        <li><a routerLink="/" mat-button
               routerLinkActive="mat-accent">Home</a>
        </li>
      </ul>
      <ul fxLayout fxLayoutGap="10px" class="navigation-list-items">
        <li><a routerLink="/orders" mat-button
               routerLinkActive="mat-accent">Orders</a>
        </li>
      </ul>
      <ul fxLayout fxLayoutGap="10px" class="navigation-list-items">
        <li><a mat-stroked-button (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </ng-container>

  </div>
</mat-toolbar>
