@import "../../../../styles";

:host{
  display: block;
}



.container{
  @include borderBoxShadow(green);
  // border: black 1pt solid;
  margin: 30px;
  height: 800px;
  padding: 20px;
  width: 90%;
  display: grid;
  //grid-template-rows: repeat(3, min-content);

  grid-template-rows: repeat(2, minmax(50px, min-content));
  grid-template-columns: max-content minmax(50px, 200px) 1fr min-content;
  grid-gap: 20px;

}
.top{
  @include borderBoxShadow(green);


}
.content{

  padding: 20px;
  @include borderBoxShadow(blue);

  & p{
    font-size: 3rem;
  }

}
.footer, .top,  .content, app-grid-item{

}

.footer {

}
app-grid-item{
  @include borderBoxShadow(black);

}

.app-grid-item-1{

}
