
.item-container{
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  background-color: lightseagreen;
  font-size: 2rem;
  & p{
    flex: 1;
    margin: 30px auto;
    font-weight: 900;
  }
}
