<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Example Move Out">
        <div cdkScrollable style="z-index:0; overflow-y: auto; height: 600px">
          <app-floating-expand-one></app-floating-expand-one>
        </div>
      </mat-tab>
      <mat-tab label="Example Move Down">
        <div cdkScrollable style="z-index:0; overflow-y: auto; height: 600px">
          <app-floating-move-down></app-floating-move-down>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

