mat-card {
  height: 50vh;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.close-popup {
  &:link,
  &:visited {
    color: #000045;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
  }

  &:hover {
    color: lightseagreen;
  }
}
