@import "../../../../styles";

:host {
  display: block;

}

mat-card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;


}

app-flex-item {
  margin-top: .5rem;
  margin-left: 4px;
  flex: 0 0 33%;
  height: 10vh;
}
