@import "../../../../styles";
:host {
  display: block;

}

mat-card mat-card-content{
  position: relative;
}

app-product-selected{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $color-black;
  height: 100vh;
  width: 100%;
}
