<mat-nav-list>
  <ng-container *ngIf="!loggedInUser">
    <a mat-list-item >
      <mat-icon>lock_open</mat-icon>
      <span class="nav-caption"
            routerLink="/login"
            (click)="onSidenavClose()">Login</span>
    </a>
    <a mat-list-item >
      <mat-icon>folder</mat-icon>
      <span class="nav-caption"
            routerLink="/register"
            (click)="onSidenavClose()">Register</span>
    </a>
  </ng-container>
  <ng-container *ngIf="loggedInUser">
    <a mat-list-item >
      <mat-icon>contacts</mat-icon>
      <span class="nav-caption"
            routerLink="/business/contact"
            (click)="onSidenavClose()">Contractors</span>
    </a>
    <a mat-list-item >
      <mat-icon>contacts</mat-icon>
      <span class="nav-caption"
            routerLink="/contact"
            (click)="onSidenavClose()">Contact</span>
    </a>
    <mat-list-item *ngIf="loggedInUser">
      <button mat-icon-button (click)="onLogout()">
        <mat-icon >lock</mat-icon>
        <span class="nav-caption">Logout</span>
      </button>
    </mat-list-item>
  </ng-container>


</mat-nav-list>
