/* You can add global styles to this file, and also import other style files */
@import "scss/base/variables";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html{
  font-size: 62.5%;
}



@mixin displayBlack($fontSize){
  color: $color-white;
  background-color: black;
  font-size: $fontSize;

}


@function calculate($a, $b){
  @return $a - $b;
}

.test-header{
  border-radius: calculate(20, 2) *1px ;
  padding: .8rem;
  @include displayBlack(2rem);
  transition: all 300ms ease-in;


}

.test-header:hover{
  color: darken(white, 25%) ;
  font-size: 2.1rem;
  padding: .4rem;

}

